/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles */
h1 {
    font-family: 'Comfortaa', cursive;
    margin-top: 300px;
    font-size: 7em;
    text-align: center;
}
h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    text-align: center;
}
hr {
    margin-top: calc(100vh - 580px);
}
form {
    text-align: center;
}
input {
    width: 32%;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 10px;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
input:focus {
    box-shadow: 0 0 5px #43D1AF;
    padding: 10px;
    border: 1px solid #43D1AF;
}
.label-action {
    display: none;
    margin: 15px;
    font-family: 'Comfortaa', cursive;
}
.label-error {
    display: none;
    margin: 15px;
    font-family: 'Comfortaa', cursive;
    color: darkred;
}
.api-error {
    display: none;
    margin: 15px;
    font-family: 'Comfortaa', cursive;
    color: darkred;
}
.label-result {
    display: none;
    margin: 35px;
    padding: 15px;
    border: 1px solid #666;
    font-family: 'Comfortaa', cursive;
    color: #333;
    animation: fadein 2s;
    -o-animation: fadein 2s; /* Opera */
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
}
.result {
    margin: 25px;
}
.visible {
    display: block;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    margin: 35px;
}
.flex-container li {
    background: purple;
    padding: 15px;
    width: 115px;
    height: 115px;
    margin-top: 10px;
    line-height: 130px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    animation: fadein 2s;
    -o-animation: fadein 2s; /* Opera */
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }
 @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
